<html>
<head>
  <title>Statistics</title>
</head>
<body>
  <script>
        var script = document.createElement('script')
        script.src='hit/1?nocache=' + ~~(Math.random()*999999);
        document.body.appendChild(script);
  </script>
</body>
</html>