try {
    var a = [];
    var blockedAbsXpath = '{{blockedAbsXpath}}';
    var advertRelXpath = '{{advertRelXpath}}';
    
    var el = document.evaluate(blockedAbsXpath, document, null, XPathResult.ANY_TYPE, null);
    
    if (el === null) throw {name: 'Custom Exception', message: 'Could not find '+blockedAbsXpath};
    
    for (var d=0; d<parents && el !== null; d++) {
        var rules = window.getMatchedCSSRules(el);
        if (rules === null) throw {name: 'Custom Exception', message: 'Could not find rules for '+blockedAbsXpath + ' depth ' + d};
        var style = {};
        // Extract all CSS into a single inline style
        for (var i=0, il=rules.length; i<il; i++) {
            var css = rules[i].style;
            for (var j=0, jl=css.length; j<jl; j++) {
                var key = css[j];
                if (!isNaN(key)) continue;
                if (key === 'cssText') continue; // TODO break cssText into a Map<K,V>
                if (key === 'length') continue;
                if (key.indexOf('webkit') !== -1) continue;
                // TODO: Correct CSS specificity order?
                if (css[key] !== '') style[key] = css[key];
            }
        }
        a.push(style);
        el = el.parentNode;
    }
    return JSON.stringify(a);
} catch (e) {
    throw e;
    return "[]";
}
