
			span.friend1, td.friend1, tr.friend1 td, a.friend1 {background:#eeb !important;}
			span.friend2, td.friend2, tr.friend2 td, a.friend2 {background:#ee9 !important;}
			span.friend3, td.friend3, tr.friend3 td, a.friend3 {background:#ee7 !important;}
			span.friend4, td.friend4, tr.friend4 td, a.friend4 {background:#ee5 !important;}
			